$global-font-family: 'Open Sans', sans-serif;
$global-muted-background: #eceff4;
$global-primary-background: #f1c40f;
$global-secondary-background: #293133;
$navbar-background: rgba(0,0,0,0.6); //$global-primary-background;
$navbar-nav-item-hover-color: $global-primary-background;
$button-primary-color: #000000;

@import 'node_modules/uikit/src/scss/variables-theme.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';

.headroom-wrapper {
  height: auto !important;
}

.hero-bg {
  background-image: url(../../images/hero-bg.jpg);
}
